$white: #FFFFFF;
$oscuro: #222F33;
$gris: #606B74;
$gris2: #646D70;
$blanco:  #F2F2F2;

$fuente: 'Rubik', sans-serif;
$titulos: 'Merriweather', serif;

$regular: 400;
$medium: 400;
$black: 900;

$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;


